*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.8vw;

}
.container{
    width: 70%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.demo{
    background-color: white;
    min-height: 100px;
}
.header{
    background-color: aquamarine;
    color: blue;
    border: 2px green solid;
    border-radius: 5px;
}
.header h1{
    margin: 10px 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    display: inline;
    padding: 0 5px;
}
.menu a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
.menu a:hover{
    color: red;
}
.menu{
    background-color: #333;
    height: 40px;
    padding-top: 1px;
}
.boxleft{
    float: left;
    width: 74%;
}
.boxright{
    float: left;
    width: 26%;
}
.boxtitle{
    background-color: #eee;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    color: #333;
    padding: 10px;
}
.boxcontent a{
    text-decoration: none;
    color: blue;
}
.boxcontent2  ul li:hover{
    background-color: #37A9DC;
    color: #ffff
}
.boxcontent{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;

}
.boxcontent2{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    min-height: 200px;

}
.boxfooter{
    background-color: #eee;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;
    padding: 10px 10px;
    border: 1px #ccc solid;
  
    
}
.boxfooter input{
    height: 30px;
    border-radius: 5px;
    border: 1px #ccc solid;
    width: 100%;
}
.banner{
    min-height: 300px;
    width: 100%;
    text-align: center;
}
.banner img{
    height: 300px;

}
.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .ghinho {
    border: 1px gray solid;
    width: 76.5%;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 3px;
  }
.boxsp{
    float: left;
    width: 32%;
    min-height: 220px;
    border: 1px gray solid;
    border-radius: 5px ;
    margin-bottom: 20px;
    margin: 1px 5px;
}
.boxsp .img{
    min-height: 20px;
    text-align: center;
}
.boxsp a{
    text-decoration: none;
}
.boxsp a:hover{
    color:red;
}
.img img{
height: 165px;
}
.boxcontent2 ul{
    margin: 0 auto;
    width: 200px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0;
    width: 100%;
}
.boxcontent2 li{
    padding: 10px ;
    display: block;
    border-top: 1px solid #ccc;
}

.boxcontent2 a{
    text-decoration: none;
    color: gray;
}
.boxcontent{
    padding: 0 20px;
}
.boxcontent img{
    width: 25px;
    height: 25px;
   
}


.one{
    display: flex;
    align-items: center;
}
.one p{
    padding-left: 10px;
}
.two{
    display: flex;
    align-items: center;
}
.two p{
    padding-left: 10px;
}
.three{
    display: flex;
    align-items: center;
}
.four{
    display: flex;
    align-items: center;
}
.five{
    display: flex;
    align-items: center;
}
.six{
    display: flex;
    align-items: center;
}
.seven{
    display: flex;
    align-items: center;
}
.eight{
    display: flex;
    align-items: center;
}
.nice{
    display: flex;
    align-items: center;
}
.ten{
    display: flex;
    align-items: center;
}




